.guestListContainer{
  align-items: center;
  width: 50%;
}

.guestInputFormAdd{
  width: 25%;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(120, 0, 247, 0.96);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(29, 114, 3);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgb(6, 200, 41);
}
